<section class="terminal__container">
  <p>
    <span>Last login: </span>
    <span>{{ currentDateTime | date: 'medium' }}</span>
  </p>
  <p *ngIf="pretendLoaded">
    <span>oliverbrummel-website:~$&nbsp;</span>
    <span class="user-input--display" [innerHTML]="displayedOutput"></span>
  </p>

  <div id="hiddenInputWrapper">
    <form [formGroup]="terminalForm" (ngSubmit)="processInput()">
      <input formControlName="userInput" type="text" appForcedFocus/>
      <button type="submit" [style.display]="'none'">Hidden Submit</button>
    </form>
  </div>

</section>
